/* Estrutura geral */
.buttons-group {
    display: flex;
    align-items: center;
}

.control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 400px;
    padding-bottom: 0px;
}

.control-group-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
}

.control-buttons-group{
    display: flex;
    align-items: center;
}

/* Textos */
.control-group p{
    color: var(--preto);
    font-family: 'Source Sans Pro';
}

.results{
    font-size: 24px;
}

.pages{
    font-size: 17px;
    margin-right: 10px;
}


/* Botoes */
.button-text{
    background-color: var(--preto);
    font-weight: bold;
}

.control-buttons-group span {
    padding: 0px 0px;
    margin-right: 2px;
}

.button-control{
    background-color: var(--preto);
    border-radius: 2px;
}

.button-back{
    background-color: grey !important;
    stroke: var(--preto);
}

/* Quebra de conteudo */
.break-content{
    margin: 0 auto;
    text-align: center;
}

.break-content-controls{
    width: 60%;
    margin-top: 8px;
}